<% include ./partials/navHeader %>
    <!-- LEAGUES -->
    <div class="jumbotron">
    <h1 id="your-leagues-header">Your Leagues<h6 id="click-to-open">(Click to open)</h6></h1>
    <table class="table table-active table-hover">
    <thead>
        <tr>
        <th class="leagues-table-headers" scope="col"><h5>League</h5></th>
        <th class="leagues-table-headers" scope="col"><h5>Team Name</h5></th>
        <th class="leagues-table-headers" scope="col"><h5>Record</h5></th>
        <th class="leagues-table-headers" scope="col"><h5>Rank</h5></th>
        </tr>
    </thead>
    <tbody>
    <% teams.forEach(function(team) { %>
      <form method="post" action="/league">
        <tr class="table-light">
          <td class="leagues-table-text">
            <button class="open-league-button" type="submit" name="leagueName" value="<%= team.league %>">
              <%= team.league %>
              <% leagues.forEach(function(league) { %>
                <% if (league.name === team.league) { %>
                  <% if (league.email === email) { %>
                    (owner)
                  <% } %>
                <% } %>
              <% }) %>
            </button>
          </td>
          <td class="leagues-table-text">
              <%= team.name %>
          </td>
          <td class="leagues-table-text">
              <%= team.record %>
          </td>
          <td class="leagues-table-text">
              <%= team.rank %>
          </td>
        </tr>
      </form>
    <% }) %>
      <form action="/dashboard/new-league" method="POST">
        <tr class="table-light">
          <td>
            <button class="new-league-button" type="submit">
              <i class="fas fa-plus plus-button"></i>
            </button> 
            Create New League
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </form>
    </tbody>
    </div>
</div>

<% include ./partials/footer %>