<% include ./partials/navHeader %>
    <div class="league-buttons text-center">
        <a class="league-button btn btn-outline-primary" href="/league/team" role="button">My Team</a>
        <a class="league-button btn btn-outline-primary" href="/league/matchup" role="button">Matchup</a>
        <a class="league-button btn btn-outline-primary" href="/league/standings" role="button">Standings</a>
        <a class="league-button btn btn-outline-primary" href="/league/schedule" role="button">Schedule</a>
    </div>
    <hr class="my-4">

    <form action="/league/schedule" method="POST">
        <div class="form-group select-week-form">
            <label for="selectWeek">Select Week</label>
            <select onchange="this.form.submit()" name="selectedWeek" class="form-control" id="selectWeek">
                <% for (let i = 1; i < numWeeks + 1; i++) { %>
                    <% if (i == currWeek) { %>
                        <option value="<%= currWeek %>" selected>Week <%= currWeek %></option>
                    <% } else { %>
                        <option value="<%= i %>">Week <%= i %></option>
                    <% } %>
                <% } %>
            </select>
        </div>    
    </form>

    <table class="table schedule-table">
        <% for (let j = 0; j < matches.length; j++) { %>
            <tbody>
                <tr class="table-active schedule-body">
                <th class="schedule-text" scope="row">Game <%= j + 1 %></th>
                <td class="schedule-text"><%= matches[j][0] %></td>
                <td class="schedule-text">vs.</td>
                <td class="schedule-text"><%= matches[j][1] %></td>
                </tr>
            </tbody>
        <% } %>
    </table>
</div>
<% include ./partials/footer %>